[submodule "frontend"]
	path = frontend
	url = https://github.com/hanamizuki-ai/lora-gui-dist
[submodule "mikazuki/dataset-tag-editor"]
	path = mikazuki/dataset-tag-editor
	url = https://github.com/Akegarasu/dataset-tag-editor
[submodule "feishu"]
	path = feishu
	url = https://server.chenkaidi.top:448/chenkaidi/feishu.git
	branch = main
[submodule "AiTrainDB"]
	path = AiTrainDB
	url = https://server.chenkaidi.top:448/chenkaidi/AiTrainDB.git
	branch = main
